
<div id= "home-wrap">

    <div class= "home-content">
          <form id = "form" method="POST" class="form" action="/users/signup">
            <h2 class="text-primary text-center l">SINGN UP</h2>
              <input type="text" name="name" id = "field" required > <br>
              <input type="email" name="email"  id = "field" required> <br>
              <input type="password" name="password" id = "field" required><br>
              <input type="submit" id ="button" value="Sign up"><br>
              <a href="/users/login" class = "switch" >Login here</a>
          </form>

    
    </div>
</div>