<h2>edit your post</>
<form method="post" action="/update/<%=@post.id%>">
<input id="hidden" type="hidden" value="patch" name="_method" >
  <p>Post Title <input type="text" name = "title"  value="<%=@post.title%>" ></p>
  <p>Post content: <input type="text" name="content"  value="<%=@post.content%>"></p>
  <input type="submit">
</form>