<h1>welcome bellow are your post</h1>
<% @post.each do |p|%>
<h4><%= p.title%><br></h4>
<p><%= p.content%><br> </p>
<h1>____________________________</h1>
<% end%><br>

<a href= "/post/new"> Create a new Post</a>