<section id="article">
<div id ="post-container">
<div class = "page-container">
<form style="width:100%" method= "POST" action= "/post/create">
<p> Post title: <input  style="width:100%" type="text" name ="post[title]" required> </p>

<p> Post Content: <textarea  style="width:100%" name ="post[content]" required></textarea> </p>

<input type="submit" id = "button" value= "Save">
</form>
<div>
<div>
</section>