<h1>Here's your post do you want to keep it or modify it?</h1>
<h4>Title:<%= @post.title%></h4> <br>
<p>Content: <%= @post.content%></p> <br>

<a href="to do edit">Edit</a><br>
<a href="/home">Go to home</a>