<div id = "home-wrap">
    <div class = "home-content">
        <h1 class="l-heading"> 
            WELCOME TO POST SAVER
        </h1>
        <p class="lead">
             Never lose your idea again !
        </p>

        <a href = "/users/login" class = "btn">GET STARTED NOW!  </a>
    </div>

</div>