<div id = "home-wrap">
    <div class = "home-content">
        <h1 class="l-heading"> 
            WELCOME TO POST SAVER
        </h1>
        <p class="lead">
             Never lose your idea again !
        </p>

        <a href = "/users/login" class = "btn">GET STARTED NOW!  </a>
    </div>

</div>

<section id ="why" class="bg-light py-1">
<div class ="container">
<h2 class=" m-heading text-center"> 
<span class="text-primary"> Why </span> 
Post Saver?
 </h2>
<div class ="items">
    <div class ="item">
         <i class="fas fa-user-clock fa-2x"></i>
        <div>
            <h3>Save time and your ideas</h3>
            <p>Never use paper and recopy your articles again 
            with post saver just one click copy and 
            paste it to your favorite blog </p>
        </div>
    </div>

<div class ="item">
        <i class="fas fa-user-edit fa-2x"></i>
        <div>
            <h3>Create edit delete easy</h3>
            <p> Very easy to create edit and delete  any where, 
            fully responsive don't worry for mobile just relax and
            save your idea! </p>
        </div>

</div>

<div class ="item">
        <i class="fas fa-user-lock fa-2x"></i>
         <div>
            <h3>You created it? then it's yours!</h3>
            <p> Your ideas will remain your ideas , no 
             one can edit delete or see your posts! Your security mean for us</p>
        </div>

</div>

</div>

</div>

</section>