<nav id ="navbar">

    <h1 class="logo">
        <span class = "text-primary"><span>  
        <i class ="fas fa-book-open"><i> Post </span> Saver

    </h1>

    <ul>
            <li> <a href = "#" >Home</a></li>
            <li> <a href = "#" >About</a></li>
            <li> <a href = "#" ></a>Privacy policy</li>
            <li> <a href = "#" ></a>Login</li>
            <li> <a href = "#" ></a>logout</li>
    </ul>

</nav>