<nav id ="navbar">

    <h1 class="logo">
        <span class = "text-primary"><span>  
        <i class="fas fa-archive"></i> Post </span> Saver

    </h1>

    <ul>
            <li> <a href = "/" >Home</a></li>
            <li> <a href = "#" >About</a></li>
            <li> <a href = "#" >Privacy policy</a></li>
            <% if !logged_in? %>
            <li> <a href = "/users/login" >Login</a></li>
            <% else%>
            <li> <a href = "/logout" >logout</a></li>
            <%end%>
    </ul>

</nav>